/* Webfont: .HelveticaNeueDeskInterface-Light */@font-face {
    font-family: '.HelveticaNeueDeskInterfaceLt';
    src: url('HelveticaNeueDeskInterface.eot'); /* IE9 Compat Modes */
    src: url('HelveticaNeueDeskInterface.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('HelveticaNeueDeskInterface.woff') format('woff'), /* Modern Browsers */
         url('HelveticaNeueDeskInterface.ttf') format('truetype'), /* Safari, Android, iOS */
         url('HelveticaNeueDeskInterface.svg#.HelveticaNeueDeskInterface-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

