h1, p, h2, nav, li, h2 {
	font-family:helvetica;
}

body{
	margin:0;
	/*overflow-x:hidden;*/
}

header{
	width:250px;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	padding:20px;
	color:white;
	background-color:rgb(191,0,37);
	text-align:center;
	z-index:1;
}

h2{
	padding-top:20px;
}

#left {
  width:250px;
  position:absolute;
  text-align:center;
  z-index:1;
}

#left-wallpaper {
  position: fixed;
  background-color:rgb(191,0,37);
  content: "";
  top:0;
  left:0;
  bottom:0;
  width:290px;
}


main{
	width:750px;
	font-family:helvetica;
	font-size:16px;
	line-height:20px;
/*	text-indent:60px;*/
	position:absolute;
	top:200px;
	left:450px;
}
p{
	font-size:15px;
	letter-spacing:1px;
}

hr{
	color:white;
    margin: 0;
    padding:0;
}


@font-face {
    font-family: "HelveticaHL";
    src: url("fonts/HelveticaNeue-Heavy.ttf") format("truetype");
}
.helvetica{
	font-family:"HelveticaHL";
	font-size:190px;
}


@font-face {
    font-family: "HelveticaHLbold";
    src: url("fonts/HelveticaNeue-Bold.ttf") format("truetype");
}
.helveticaHLBold{
	position:absolute;
	top:40px;
	left:450px;
	font-family:"HelveticaHLbold";
	font-size:190px;
	color:rgba(220,220,220,.85);
}

@font-face {
    font-family: "HelveticaHLNorm";
    src: url("fonts/HelveticaNeue.ttf") format("truetype");
}
.helveticaHLNorm{
	position:absolute;
	top:-60px;
	left:450px;
	font-family:"HelveticaHLNorm";
	font-size:190px;
	color:rgba(220,220,220,.65);
}


@font-face {
    font-family: "HelveticaHLLight";
    src: url("fonts/HelveticaNeue-Light.ttf") format("truetype");
}
.helveticaHLLight{
	position:absolute;
	top:-100px;
	left:450px;
	font-family:"HelveticaHLLight";
	font-size:190px;
	color:rgba(220,220,220,.20);
}


@font-face {
    font-family: "HelveticaHLUltraLight";
    src: url("fonts/HelveticaNeue-UltraLight.ttf") format("truetype");
}
.helveticaHLUltraLight{
	position:absolute;
	top:-130px;
	left:455px;
	font-family:"HelveticaHLUltraLight";
	font-size:190px;
	color:rgba(220,220,220,.19);
}


h1.subhead{
	position:absolute;
	top:380px;
	left:405px;
}

h2 {
	font-size:22px;
	font-weight:bold;
}

nav {
	width:35px;
	height:100%;
	position:fixed;
	top:0;
	left:290px;
	background-color:rgb(162,0,21);
	margin:0;
	padding-top:17px;
	box-shadow: 5px 0px 6px #4d0019 inset;
	text-decoration: none;
}

ul {
	padding-left:0px;
}

.box{
	width:35px;
	height:40px;
	padding-top:17px;
	padding-bottom:0px;
	float:left;
	text-decoration: none;
	backface-visibility: visible;
   cursor:pointer;
   margin:0;
   background-color: rgba(191,0,37,0);
   transition: all .3s linear;
   overflow-x:hidden;
}
.box span{
	opacity:0;
	transition:opacity .2s linear;
}
/*my old code*/
/*.box:hover span{
	opacity:1;

}*/

/*cams fix*/
.box:hover {
  width:inherit;
  padding-right:17px;
  background-color: rgba(191,0,37,1);
 }

 .box:hover span{
  opacity:1;
 }

li{
	/*width:40px;*/
	font-size:20px;
	font-weight:lighter;
	color:white;
	text-align:left;
    list-style-type:none;
    padding-left:10px;
 }

.letters{
	position:relative;
	width:250px;
	height:150px;
 	font-size:130px;
 	color:white;
 	vertical-align:bottom;
 	line-height:200px;
 	padding-top:40px;
}

.letterCaptions{
	font-size:12px;
	color:white;
	vertical-align:top;
 	line-height:16px;
}

.caps:hover{
	color:rgb(0,0,0);
	cursor:pointer;
}


a:link {
    background-color: transparent;
    text-decoration: none;
}

a:visited {   
    text-decoration: none;
}

/*my old code*/
/*li:hover {
	width:170px;
	height:40px;
    color:white;
    background-color: rgb(191,0,37);
    text-decoration: none;
	backface-visibility: visible;
    padding-top:17px;
    margin:0;
}

li {
	transition: width .1s linear; 

}*/

@font-face {
    font-family: "figcaption";
    src: url("fonts/Helvetica-LightOblique.ttf") format("truetype");
}
figcaption{
	width:100%;
	font-family:"figcaption";
	font-size:15px;
	padding-bottom:20px;
}

#map{
	width:700px;
	height:400px;
	border: 1px solid black;
	float:left;
}

.image1{
/*	position:absolute;*/
	float:left;
	padding-right:15px;
	margin:0,10px,10px,0; 

}

img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

img.subwaySigns{
	background-image: url("assets/firstSigns.jpg");
}
img.ChaoticSigns{
	background-image: url("assets/ChaoticSigns.jpg");
}

.caption{
	padding-top:10px;
}


/*AAAAAAA*/
@font-face {
    font-family: "HelveticaUltraLt";
    src: url("fonts/HelveticaNeue-UltraLight.ttf") format("truetype");
}
.letterA{
	font-family:"HelveticaUltraLt";
	/*line-height:200px;*/
}

.letterCaptionA{
	font-family:"HelveticaUltraLt";
	letter-spacing: 2px;
}

/*B*/
@font-face {
    font-family: "HelveticaUltraLtIt";
    src: url("fonts/HelveticaNeue-UltraLightItal.ttf") format("truetype");
}

.letterB{
	font-family:"HelveticaUltraLtIt";
}

.letterCaptionB{
	font-family:"HelveticaUltraLtIt";
	line-height:30px;
	letter-spacing: 2px;
}
/*C*/
@font-face {
    font-family: "HelveticaThin";
    src: url("fonts/HelveticaNeue-Thin.ttf") format("truetype");
}

.letterC{
	font-family:"HelveticaThin";
	/*line-height:200px;*/
}

.letterCaptionC{
	font-family:"HelveticaThin";
	letter-spacing: 2px;

}
/*D*/
@font-face {
    font-family: "HelveticaThinItal";
    src: url("fonts/HelveticaNeue-ThinItalic.ttf") format("truetype");
}


.letterD{
	font-family:"HelveticaThinItal";
	line-height:190px;
}

.letterCaptionD{
	font-family:"HelveticaThinItal";
	line-height:30px;
	letter-spacing: 2px;
}

/*E*/
@font-face {
    font-family: "HelveticaLt";
    src: url("fonts/HelveticaNeue-Light.ttf") format("truetype");
}

.letterE{
	font-family:"HelveticaLt";
	line-height:210px;
	/*padding-top:70px;*/
}

.letterCaptionE{
	font-family:"HelveticaLt";
	line-height:30px;
	padding:0;
	margin:0;
	letter-spacing: 2px;
}

/*F*/
@font-face {
    font-family: "HelveticaLtItal";
    src: url("fonts/HelveticaNeue-LightItalic.ttf") format("truetype");
}

.letterF{
	font-family:"HelveticaLtItal";
	line-height:160px;
}

.letterCaptionF{
	font-family:"HelveticaLtItal";
	vertical-align:top;
	line-height:5px;
	letter-spacing: 2px;
}

/*G*/
@font-face {
    font-family: "HelveticaReg";
    src: url("fonts/HelveticaNeue.ttf") format("truetype");
}

.letterG{
	font-family:"HelveticaReg";
	line-height:170px;
}

.letterCaptionG{
	font-family:"HelveticaReg";
	letter-spacing: 2px;
}

/*H*/
@font-face {
    font-family: "HelveticaItal";
    src: url("fonts/Helvetica-Oblique.ttf") format("truetype");
}


.letterH{
	font-family:"HelveticaItal";
	line-height:180px;
}

.letterCaptionH{
	font-family:"HelveticaItal";
	letter-spacing: 2px;
}

/*I*/
@font-face {
    font-family: "HelveticaMed";
    src: url("fonts/HelveticaNeue-Medium2.ttf") format("truetype");
}


.letterI{
	font-family:"HelveticaMed";
}

.letterCaptionI{
	font-family:"HelveticaMed";
	letter-spacing: 2px;
}

/*J*/
@font-face {
    font-family: "HelveticaMedItal";
    src: url("fonts/HelveticaNeue-MediumItalic.ttf") format("truetype");
}


.letterJ{
	font-family:"HelveticaMedItal";
	line-height:170px;
}

.letterCaptionJ{
	font-family:"HelveticaMedItal";
	letter-spacing: 2px;
}


/*K*/
@font-face {
    font-family: "HelveticaBold";
    src: url("fonts/HelveticaNeue-Bold.ttf") format("truetype");
}
.letterK{
	font-family:"HelveticaBold";
}

.letterCaptionK{
	font-family:"HelveticaBold";
	letter-spacing: 2px;
}


/*L*/
@font-face {
    font-family: "HelveticaBoldItal";
    src: url("fonts/HelveticaNeue-BoldItalic.ttf") format("truetype");
}

.letterL{
	font-family:"HelveticaBoldItal";
	padding-top:0;
		line-height:230px;
}

.letterCaptionL{
	font-family:"HelveticaBoldItal";
	line-height:70px;
	letter-spacing: 2px;
}


/*M*/
@font-face {
    font-family: "HelveticaBlk";
    src: url("fonts/HelveticaNeue-Black3.ttf") format("truetype");
}


.letterM{
	font-family:"HelveticaBlk";
		line-height:180px;
}

.letterCaptionM{
	font-family:"HelveticaBlk";
	letter-spacing: 2px;
	line-height:0px;
}



/*N*/
@font-face {
    font-family: "HelveticaBlkItal";
    src: url("fonts/HelveticaNeue-BlackItalic.ttf") format("truetype");
}


.letterN{
	font-family:"HelveticaBlkItal";
}

.letterCaptionN{
	font-family:"HelveticaBlkItal";
	letter-spacing: 2px;
}

/*O*/
@font-face {
    font-family: "HelveticaCondLt";
    src: url("fonts/Helvetica-Condensed-Light.ttf") format("truetype");
}

.letterO{
	font-family:"HelveticaCondLt";
}

.letterCaptionO{
	font-family:"HelveticaCondLt";
	letter-spacing: 2px;
	line-height:30px;
}


/*P*/
@font-face {
    font-family: "HelveticaCondLtItal";
    src: url("fonts/Helvetica-Condensed-LightObl.ttf") format("truetype");
}


.letterP{
	font-family:"HelveticaCondLtItal";
}

.letterCaptionP{
	font-family:"HelveticaCondLtItal";
	letter-spacing: 2px;
	line-height:30px;
}


/*Q*/
@font-face {
    font-family: "HelveticaCond";
    src: url("fonts/Helvetica-Condensed.ttf") format("truetype");
}

.letterQ{
	font-family:"HelveticaCond";
}

.letterCaptionQ{
	font-family:"HelveticaCond";
	letter-spacing: 2px;
	line-height:30px;
}

/*R*/
@font-face {
    font-family: "HelveticaCondItal";
    src: url("fonts/Helvetica-Condensed-Oblique.ttf") format("truetype");
}

.letterR{
	font-family:"HelveticaCondItal";
}

.letterCaptionR{
	font-family:"HelveticaCondItal";
	letter-spacing: 2px;
}


/*S*/
@font-face {
    font-family: "HelveticaCondBold";
    src: url("fonts/Helvetica-Condensed-Bold.ttf") format("truetype");
}

.letterS{
	font-family:"HelveticaCondBold";
}

.letterCaptionS{
	font-family:"HelveticaCondBold";
	letter-spacing: 2px;
	line-height:30px;
}


/*T*/
@font-face {
    font-family: "HelveticaCondBoldItal";
    src: url("fonts/Helvetica-Condensed-BoldObl.ttf") format("truetype");
}

.letterT{
	font-family:"HelveticaCondBoldItal";
}

.letterCaptionT{
	font-family:"HelveticaCondBoldItal";
	letter-spacing: 2px;
	line-height:30px;
}


/*U*/
@font-face {
    font-family: "HelveticaExtLt";
    src: url("fonts/HelveticaNeue-LightExt.ttf") format("truetype");
}

.letterU{
	font-family:"HelveticaExtLt";
}

.letterCaptionU{
	font-family:"HelveticaExtLt";
	letter-spacing: 2px;
	line-height:30px;
}


/*V*/
@font-face {
    font-family: "HelveticaExtItalLt";
    src: url("fonts/HelveticaNeue-LightExtObl.ttf") format("truetype");
}

.letterV{
	font-family:"HelveticaExtItalLt";
}

.letterCaptionV{
	font-family:"HelveticaExtItalLt";
	letter-spacing: 2px;
	line-height:30px;
}

/*W*/
@font-face {
    font-family: "HelveticaExtMed";
    src: url("fonts/HelveticaNeue-MediumExt.ttf") format("truetype");
}

.letterW{
	font-family:"HelveticaExtMed";
}

.letterCaptionW{
	font-family:"HelveticaExtMed";
	letter-spacing: 2px;
}

/*X*/
@font-face {
    font-family: "HelveticaExtMedItal";
    src: url("fonts/HelveticaNeue-MediumExtObl.ttf") format("truetype");
}

.letterX{
	font-family:"HelveticaExtMedItal";
}

.letterCaptionX{
	font-family:"HelveticaExtMedItal";
	letter-spacing: 2px;
}


/*Y*/
@font-face {
    font-family:"HelveticaExtHeavy";
    src: url("fonts/HelveticaNeue-HeavyExt.ttf") format("truetype");
}

.letterY{
	font-family:"HelveticaExtHeavy";
}

.letterCaptionY{
	font-family:"HelveticaExtHeavy";
	letter-spacing: 2px;
}


/*Z*/
@font-face {
    font-family: "HelveticaExtBlackItal";
    src: url("fonts/HelveticaNeue-ExtBlackItalic2.ttf") format("truetype");
}

.letterZ{
	font-family:"HelveticaExtBlackItal";
}

.letterCaptionZ{
	font-family:"HelveticaExtBlackItal";
	letter-spacing: 2px;
}


















